<a href="https://colab.research.google.com/github/bonitr02/datasci_1_loading/blob/main/HHA507_wk1_datasci_1_loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loading Packages

In [27]:
! pip install pandas
! pip install xrd
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: xrd in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: isodate in /usr/local/lib/python3.10/dist-packages (from xrd) (0.6.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from isodate->xrd) (1.16.0)

#CSV Datasets

## CSV Dataset 1

In [28]:
covid19_test_to_treat = pd.read_csv('/content/COVID-19_Test_to_Treat (2).csv')
covid19_test_to_treat

                                                                                                                                                                                COVID-19_Test_to_Treat (2)
Provider Name          Address1              Address2     City       State Zip   Last Report Date       Public Website                                     Phone Number                           Geopoint
WALGREENS STORE #11795 3551 CASSOPOLIS ST    NaN          ELKHART    IN    46514 08/23/2023 12:00:00 AM https://www.walgreens.com/findcare/services        NaN                  POINT (-85.97459 41.73845)
SAFEWAY PHARMACY       8646 Richmond Highway NaN          ALEXANDRIA VA    22309 07/15/2023 12:00:00 AM NaN                                                NaN                  POINT (-77.12114 38.72421)
CVS STORE #00947       28 Abby Rd            CVS Pharmacy PALMYRA    VA    22963 08/18/2023 12:00:00 AM https://www.cvs.com/coronavirus                    NaN                   POINT (-78.312535 37.899)
CHURCH AVENUE CLINIC   2412 Church Ave       NaN          BROOKLYN   NY    11226 08/24/2023 12:00:00 AM NaN                                                718-681-8700        POINT (-73.955365 40.65027)
...                                                                                                                                                                                                    ...
WALGREENS STORE #09262 8469 E MCDONALD DR    NaN          SCOTTSDALE AZ    85250 08/23/2023 12:00:00 AM https://www.walgreens.com/locator/walgreens-846... NaN                POINT (-111.898315 33.52342)
CVS Store #00288       839 Farmington Ave    CVS Pharmacy BRISTOL    CT    6010  08/18/2023 12:00:00 AM https://www.cvs.com/coronavirus                    NaN                   POINT (-72.91552 41.6935)
CVS Store #02470       3785 SIXES RD         CVS Pharmacy CANTON     GA    30114 08/18/2023 12:00:00 AM https://www.cvs.com/coronavirus                    NaN                POINT (-84.550975 34.178555)
HEART CITY HLTH CTR    236 Simpson Ave       NaN          ELKHART    IN    46516 08/22/2023 12:00:00 AM NaN                                                574-293-0052 x233    POINT (-85.94583 41.69012)
CVS Store #10529       7111 East Bell Rd     CVS Pharmacy SCOTTSDALE AZ    85254 08/01/2023 12:00:00 AM https://www.cvs.com/coronavirus                    NaN                 POINT (-111.97303 33.63824)

[2288 rows x 1 columns]

## CSV Dataset 2

In [29]:
tobacco_use = pd.read_csv('/content/BehavioralRisk_Tobacco.csv')
tobacco_use

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2017,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,110CSA,2GEN,8AGE,6RAC,6EDU,BRF21,21
1,2018,US,National Median (States and DC),Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Current,%,Percentage,...,NaN,BEH,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF27,27
2,2017,US,National Median (States and DC),Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Never,%,Percentage,...,NaN,BEH,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF28,28
3,2016,GU,Guam,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,150BEH,177SCU,1GEN,8AGE,4RAC,6EDU,BRF69,69
4,2014,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,110CSA,1GEN,8AGE,5RAC,6EDU,BRF22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43336,2011,RI,Rhode Island,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(41.70828019300046, -71.52247031399963)",BEH,150BEH,177SCU,1GEN,4AGE,6RAC,6EDU,BRF70,70
43337,2013-2014,MA,Massachusetts,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(42.27687047000046, -72.08269067499964)",BEH,100BEH,112CS2,1GEN,8AGE,3RAC,6EDU,BRF32,32
43338,2015,AK,Alaska,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(64.84507995700051, -147.72205903599973)",BEH,100BEH,110CSA,1GEN,6AGE,6RAC,4EDU,BRF24,24
43339,2014,IA,Iowa,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),User Status,BRFSS,Current,%,Percentage,...,"(42.46940091300047, -93.81649055599968)",BEH,150BEH,179SUS,2GEN,8AGE,6RAC,6EDU,BRF80,80
43340,2018,MD,Maryland,Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Frequency,BRFSS,Some Days,%,Percentage,...,"(39.29058096400047, -76.60926011099963)",BEH,100BEH,166SSP,1GEN,8AGE,6RAC,6EDU,BRF26,26

## CSV Dataset 3

In [30]:
impaired_driving = pd.read_csv('/content/Impaired_Driving_Death_Rate__by_Age_and_Gender__2012___2014__All_States.csv')
impaired_driving

,State,Location,"All Ages, 2012","All Ages, 2014","Ages 0-20, 2012","Ages 0-20, 2014","Ages 21-34, 2012","Ages 21-34, 2014","Ages 35+, 2012","Ages 35+, 2014","Male, 2012","Male, 2014","Female, 2012","Female, 2014"
0,Connecticut,"Connecticut\n(41.562661, -72.64984)",2.4,2.7,NaN,NaN,5.9,6.1,2.1,2.5,3.7,4.6,1.1,NaN
1,Kentucky,"Kentucky\n(37.645973, -84.774968)",4.0,3.9,1.8,2.0,7.2,7.8,3.7,3.4,6.5,6.5,1.5,1.3
2,South Dakota,"South Dakota\n(44.35313, -100.373529)",5.7,5.6,NaN,NaN,NaN,NaN,NaN,6.2,7.4,8.7,NaN,NaN
3,Oklahoma,"Oklahoma\n(35.472031, -97.521068)",5.6,4.0,NaN,NaN,10.5,7.4,5.8,3.9,9.3,6.0,1.9,2.1
4,West Virginia,"West, Virginia\n(38.665511, -80.712638)",5.6,4.7,NaN,NaN,12.9,10.0,4.4,4.0,9.3,7.1,NaN,NaN
5,Virginia,"Virginia\n(37.542681, -78.457889)",2.5,2.5,1.2,1.2,4.5,5.1,2.6,2.3,4.1,3.9,0.9,1.2
6,Iowa,"Iowa\n(42.469401, -93.816487)",3.2,3.0,NaN,NaN,5.9,4.6,2.9,3.4,5.1,4.8,NaN,NaN
7,Louisiana,"Louisiana\n(31.312663, -92.445678)",5.2,5.4,2.8,1.8,8.6,9.4,5.1,5.7,8.3,9.1,2.4,1.9
8,Tennessee,"Tennessee\n(35.680941, -85.774487)",4.6,4.1,1.6,NaN,8.0,8.2,4.9,4.1,7.5,6.8,1.8,1.5
9,Missouri,"Missouri\n(38.635791, -92.566299)",4.8,3.4,1.9,NaN,9.5,6.9,4.4,3.2,7.8,5.6,1.8,1.3
10,Georgia,"Georgia\n(32.839683, -83.627579)",3.0,2.7,1.0,0.8,5.8,5.2,3.1,2.9,4.9,4.7,1.2,0.9
11,Texas,"Texas\n(31.82724, -99.426768)",4.9,5.4,2.1,2.3,10.0,10.0,4.7,5.3,7.6,8.1,2.4,2.7
12,Maine,"Maine\n(45.254229, -68.985026)",3.8,3.3,NaN,NaN,NaN,NaN,2.8,3.1,6.6,5.1,NaN,NaN
13,Mississippi,"Mississippi\n(32.745513, -89.538027)",6.1,6.0,2.6,2.8,12.0,10.8,5.7,5.8,9.8,9.4,2.7,2.8
14,Colorado,"Colorado\n(38.843843, -106.133609)",2.5,3.0,NaN,1.7,5.6,5.6,2.0,2.6,3.9,4.6,1.1,1.3
15,Alabama,"Alabama\n(32.840572, -86.631857)",5.5,5.5,2.7,2.1,10.3,10.0,5.0,5.5,8.4,8.6,2.9,2.6
16,Maryland,"Maryland\n(39.290583, -76.60926)",2.7,2.2,1.6,NaN,5.8,5.4,2.2,1.8,4.1,3.5,1.4,0.9
17,California,"California\n(37.638642, -120.999996)",2.0,2.2,0.9,1.0,4.5,4.6,1.8,2.0,3.2,3.4,1.0,1.1
18,Idaho,"Idaho\n(43.682632, -114.363727)",3.6,3.3,NaN,NaN,8.7,NaN,2.7,3.0,5.8,4.8,NaN,NaN
19,Vermont,"Vermont\n(43.625384, -72.517637)",3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,District of Columbia,"District of Columbia\n(38.890373, -77.031957)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,North Dakota,"North Dakota\n(47.475319, -100.118428)",11.3,7.2,NaN,NaN,15.3,15.2,12.0,6.1,17.4,10.7,NaN,NaN
22,Wisconsin,"Wisconsin\n(44.393191, -89.816366)",3.6,2.9,1.6,NaN,6.5,7.5,3.5,2.3,5.6,4.8,1.6,1.2
23,Oregon,"Oregon\n(44.56745, -120.155029)",2.2,2.5,NaN,NaN,5.2,4.2,1.8,2.6,3.1,3.7,1.3,1.4
24,Hawaii,"Hawaii\n(21.304852, -157.857748)",3.8,2.2,NaN,NaN,NaN,NaN,3.2,NaN,5.7,3.6,NaN,NaN
25,Pennsylvania,"Pennsylvania\n(40.793734, -77.860697)",3.3,2.7,1.4,0.7,7.2,5.5,2.8,2.7,5.4,4.4,1.3,1.1
26,Arizona,"Arizona\n(34.865974, -111.763807)",3.6,3.0,1.6,NaN,6.9,5.5,3.3,3.1,5.4,4.5,1.7,1.5
27,Washington,"Washington\n(47.522288, -120.470028)",2.1,1.9,NaN,NaN,4.0,3.4,2.0,1.9,3.6,2.9,0.7,0.9
28,United States,"United States\n(39.759996, -98.499999)",3.3,3.1,1.3,1.2,6.7,6.2,3.1,3.0,5.2,4.9,1.5,1.4
29,Alaska,"Alaska\n(64.845078, -147.72206)",NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New York,"New York\n(42.827004, -75.543966)",1.7,1.6,0.6,0.7,3.3,3.0,1.7,1.5,2.7,2.4,0.8,0.8
31,Illinois,"Illinois\n(40.485012, -88.997709)",2.5,2.4,0.7,0.7,6.0,5.5,2.1,2.2,4.0,3.7,1.0,1.3
32,South Carolina,"South Carolina\n(33.998822, -81.045366)",7.6,5.8,2.8,2.0,14.2,12.4,7.6,5.3,12.3,9.0,3.2,2.9
33,Indiana,"Indiana\n(39.766913, -86.149956)",3.6,3.2,1.2,NaN,7.2,6.3,3.5,3.2,6.0,5.1,1.3,1.3
34,Utah,"Utah\n(39.360701, -111.587128)",1.2,2.0,NaN,NaN,NaN,NaN,1.9,2.3,1.7,3.0,NaN,NaN
35,Nebraska,"Nebraska\n(41.641044, -99.365719)",4.0,3.3,NaN,NaN,6.5,7.0,3.5,3.0,6.4,5.0,NaN,NaN
36,Massachusetts,"Massachusetts\n(42.276874, -72.082687)",1.8,1.9,NaN,NaN,3.3,4.0,1.7,1.8,2.7,3.1,0.9,0.9
37,Montana,"Montana\n(47.066528, -109.424416)",9.4,7.3,NaN,NaN,21.4,15.4,7.2,6.9,14.9,10.2,4.0,4.3
38,New Mexico,"New Mexico\n(34.520881, -106.240578)",4.8,5.7,NaN,NaN,9.1,11.2,4.5,5.1,6.9,8.6,2.9,2.8
39,New Jersey,"New Jersey\n(40.130571, -74.273688)",1.8,1.8,NaN,NaN,4.6,3.6,1.4,1.7,2.9,2.9,0.9,0.8
40,Wyoming,"Wyoming\n(43.235541, -108.109827)",7.1,8.2,NaN,NaN,17.3,NaN,NaN,8.1,11.3,13.1,NaN,NaN
41,North Carolina,"North Carolina\n(35.46622, -79.15925)",4.2,3.8,1.7,1.4,8.0,7.7,4.0,3.6,6.8,6.3,1.7,1.5
42,Ohio,"Ohio\n(40.060212, -82.404257)",3.5,2.7,1.2,0.8,6.8,5.6,3.3,2.6,5.5,4.2,1.6,1.3
43,Delaware,"Delaware\n(39.008834, -75.577736)",3.8,5.2,NaN,NaN,NaN,11.7,4.0,4.6,6.6,7.4,NaN,NaN
44,Kansas,"Kansas\n(38.347743, -98.200778)",3.4,3.6,2.3,NaN,6.0,7.4,3.0,3.3,6.0,5.8,NaN,1.4
45,Florida,"Florida\n(28.932043, -81.928958)",3.7,3.5,1.2,1.2,8.0,7.4,3.3,3.1,5.7,5.4,1.7,1.7
46,New Hampshire,"New Hampshire\n(43.655953, -71.500357)",2.4,2.4,NaN,NaN,NaN,NaN,2.9,NaN,4.1,3.2,NaN,NaN
47,Minnesota,"Minnesota\n(46.355649, -94.7942)",2.1,1.9,NaN,NaN,3.7,3.5,2.2,2.1,3.2,3.0,1.2,0.9
48,Arkansas,"Arkansas\n(34.74865, -92.27449)",5.1,4.6,NaN,NaN,10.5,6.3,4.3,5.4,8.1,7.2,2.2,2.2
49,Michigan,"Michigan\n(44.661322, -84.714386)",2.7,2.2,1.1,1.0,6.8,5.1,2.0,1.8,4.3,3.3,1.2,1.1
50,Rhode Island,"Rhode Island\n(41.708281, -71.522466)",2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Nevada,"Nevada\n(39.493242, -117.071839)",2.8,3.3,NaN,NaN,4.6,6.4,3.2,2.7,4.2,4.9,1.4,1.7

# XLSX Datasets

## XLSX Dataset 1

In [31]:
seatbelts = pd.read_excel('/content/Percentage_of_Drivers_and_Front_Seat_Passengers_Wearing_Seat_Belts__2012___2014__All_States.xls')
seatbelts

FileNotFoundError: ignored

## XLSX Dataset 2

In [ ]:
covid_vaccine_allocation = pd.read_excel('/content/COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Pfizer.xls')
covid_vaccine_allocation

## XLSX Dataset 3

# JSON Datasets

## JSON Dataset 1

In [32]:
diabetes_indicators = pd.read_json('/content/DiabetesIndicators.json')
diabetes_indicators

,yearstart,yearend,locationabbr,locationdesc,datasource,topic,question,datavalueunit,datavaluetype,datavalue,...,stratificationcategory1,stratification1,locationid,topicid,questionid,datavaluetypeid,stratificationcategoryid1,stratificationid1,datavaluefootnotesymbol,datavaluefootnote
0,2011,2011,NV,Nevada,BRFSS,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,10.0,...,Overall,Overall,32,DIA,DIA2_1,AGEADJPREV,OVERALL,OVR,NaN,NaN
1,2016,2016,NV,Nevada,BRFSS,Diabetes,Visits to dentist or dental clinic among adult...,%,Crude Prevalence,57.8,...,Gender,Male,32,DIA,DIA8_0,CRDPREV,GENDER,GENM,NaN,NaN
2,2019,2019,NV,Nevada,BRFSS,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,11.2,...,Gender,Male,32,DIA,DIA2_1,CRDPREV,GENDER,GENM,NaN,NaN
3,2019,2019,NV,Nevada,BRFSS,Diabetes,Foot examination among adults aged >= 18 years...,%,Crude Prevalence,NaN,...,Gender,Male,32,DIA,DIA5_0,CRDPREV,GENDER,GENM,-,No data available
4,2017,2017,NE,Nebraska,BRFSS,Diabetes,Prevalence of high cholesterol among adults ag...,%,Crude Prevalence,56.9,...,Overall,Overall,31,DIA,DIA11_1,CRDPREV,OVERALL,OVR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2012,2012,AR,Arkansas,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,60.3,...,Gender,Female,5,DIA,DIA1_1,AGEADJRATE,GENDER,GENF,NaN,NaN
996,2014,2014,NJ,New Jersey,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,56.9,...,Overall,Overall,34,DIA,DIA1_1,AGEADJRATE,OVERALL,OVR,NaN,NaN
997,2019,2019,PA,Pennsylvania,NVSS,Diabetes,Mortality due to diabetes reported as any list...,Number,Number,NaN,...,Race/Ethnicity,American Indian or Alaska Native,42,DIA,DIA1_1,NMBR,RACE,AIAN,~,Data not shown because of too few respondents ...
998,2020,2020,AL,Alabama,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,29.2,...,Race/Ethnicity,Asian or Pacific Islander,1,DIA,DIA1_1,CRDRATE,RACE,API,NaN,NaN
999,2018,2018,NH,New Hampshire,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,NaN,...,Race/Ethnicity,"Black, non-Hispanic",33,DIA,DIA1_1,NMBR,RACE,BLK,~,Data not shown because of too few respondents ...

## JSON Dataset 2

In [6]:
smoking_expenditures = pd.read_json('/content/SAMEC.json')
smoking_expenditures

,year,locationabbr,locationdesc,datasource,topictype,topicdesc,measuredesc,variable,data_value_unit,data_value_type,data_value,data_value_footnote_symbol,data_value_footnote,geolocation,topic_type_id,topic_id,measure_id,submeasureid,displayorder
0,2009,RI,Rhode Island,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Other,$,Millions of Dollars,47.2,*,"Other expenditures include home health care, d...","{'latitude': '41.708280193', 'longitude': '-71...",HLT,501HLT,520SAE,SAE006,6
1,2007,SD,South Dakota,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Nursing Home,$,Millions of Dollars,29.2,NaN,NaN,"{'latitude': '44.353130053', 'longitude': '-10...",HLT,501HLT,520SAE,SAE005,5
2,2009,NH,New Hampshire,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Other,$,Millions of Dollars,41.4,*,"Other expenditures include home health care, d...","{'latitude': '43.655950113', 'longitude': '-71...",HLT,501HLT,520SAE,SAE006,6
3,2006,MD,Maryland,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Prescription Drugs,$,Millions of Dollars,465.2,NaN,NaN,"{'latitude': '39.290580964', 'longitude': '-76...",HLT,501HLT,520SAE,SAE004,4
4,2009,LA,Louisiana,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Other,$,Millions of Dollars,117.5,*,"Other expenditures include home health care, d...","{'latitude': '31.312660644', 'longitude': '-92...",HLT,501HLT,520SAE,SAE006,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2007,CT,Connecticut,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Prescription Drugs,$,Millions of Dollars,399.5,NaN,NaN,"{'latitude': '41.56266102', 'longitude': '-72....",HLT,501HLT,520SAE,SAE004,4
996,2005,PA,Pennsylvania,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Ambulatory,$,Millions of Dollars,720.1,NaN,NaN,"{'latitude': '40.793730152', 'longitude': '-77...",HLT,501HLT,520SAE,SAE002,2
997,2005,MI,Michigan,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Ambulatory,$,Millions of Dollars,509.6,NaN,NaN,"{'latitude': '44.661319543001', 'longitude': '...",HLT,501HLT,520SAE,SAE002,2
998,2009,TN,Tennessee,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Prescription Drugs,$,Millions of Dollars,580.5,NaN,NaN,"{'latitude': '35.68094058', 'longitude': '-85....",HLT,501HLT,520SAE,SAE004,4
999,2006,KY,Kentucky,SAMMEC,Health Consequences and Costs,Smoking-Attributable Expenditures (SAEs),Type of Expense,Other,$,Millions of Dollars,83.8,*,"Other expenditures include home health care, d...","{'latitude': '37.645970271', 'longitude': '-84...",HLT,501HLT,520SAE,SAE006,6

## JSON Dataset 3

In [7]:
obesity_legislation = pd.read_json('/content/ObesityLegislation.json')
obesity_legislation

,year,quarter,locationabbr,locationdesc,topicdesc,policytopic,datasource,setting,title,status,...,comments,geolocation,displayorder,policytypeid,healthtopicid,policytopicid,settingid,provisionid,enacteddate,effectivedate
0,2010,1,NY,New York,Obesity,Incentives,DNPAO,Community,State Fiscal Plan,Dead,...,(Abstract - Enacts into law major components o...,"{'latitude': '42.827001032', 'longitude': '-75...",38,LEG,002OB,029INC,002COM,1641,NaN,NaN
1,2011,1,WV,West Virginia,Nutrition,Appropriations,DNPAO,Community,Sales Tax on Food,Dead,...,(Abstract - Eliminates the sales tax on food e...,"{'latitude': '38.665510202', 'longitude': '-80...",2,LEG,001NUT,002APP,002COM,4781,NaN,NaN
2,2011,1,MA,Massachusetts,Physical Activity,Built Environment and Street-Scale Design,DNPAO,Community,Pedestrian Safety,Dead,...,"(Abstract - Relates to pedestrian safety. ),...","{'latitude': '42.27687047', 'longitude': '-72....",68,LEG,003PA,049BED,002COM,4090,NaN,NaN
3,2010,1,NC,North Carolina,Obesity,Menu Labeling,DNPAO,Community,Governors Budget,Dead,...,"(Abstract - Concerns governors budget. ), (Bil...","{'latitude': '35.466220975', 'longitude': '-79...",41,LEG,002OB,032MNL,002COM,2908,NaN,NaN
4,2011,1,FL,Florida,Physical Activity,"Parks, Recreation and Trails",DNPAO,School/After School,Chronic Diseases<br>,Dead,...,"(Abstract - ""Creates the chronic disease preve...","{'latitude': '28.932040377', 'longitude': '-81...",59,LEG,003PA,034PRT,004SAS,5615,2012-01-01T00:00:00.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2012,1,OH,Ohio,Nutrition,Initiatives and Programs,DNPAO,Community,An Act Amending Laws Governing Local Governmen...,Dead,...,(Abstract - Allows any board of county commiss...,"{'latitude': '40.060210141', 'longitude': '-82...",26,LEG,001NUT,053INP,002COM,5747,2012-01-01T00:00:00.000,NaN
996,2011,1,ME,Maine,Obesity,Food Restrictions,DNPAO,Community,Local Food Production,Dead,...,(Abstract - Facilitates local food production....,"{'latitude': '45.254228894001', 'longitude': '...",35,LEG,002OB,020FOR,002COM,3968,NaN,NaN
997,2009,1,IA,Iowa,Nutrition,Incentives,DNPAO,Community,Local Food and Farm Task Force,Dead,...,(Abstract - Establishes a Local Food and Farm ...,"{'latitude': '42.469400913', 'longitude': '-93...",17,LEG,001NUT,029INC,002COM,1413,NaN,NaN
998,2011,1,DC,District of Columbia,Nutrition,Access to Healthy Foods,DNPAO,School/After School,Healthy Schools Amendment,Dead,...,(Abstract - (Permanent Law) Relates to the Hea...,"{'latitude': '38.890371385', 'longitude': '-77...",1,LEG,001NUT,001AHF,004SAS,3655,NaN,NaN
999,2009,1,NY,New York,Obesity,Health Insurance Coverage,DNPAO,Community,Health Insurers,Dead,...,"(Abstract - Authorizes health insurers, subjec...","{'latitude': '42.827001032', 'longitude': '-75...",37,LEG,002OB,028HIC,002COM,3024,NaN,NaN